.container
      .wrapper
       .section-title--centered
        h2 Contact
       .col.col-side
        .section-title
         h3 Lorem ipsum.
        
        p.right Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing 
       .col.col-side
        p Lorem ipsum 
        
       .col.col-side
        p Lorem ipsum 
       .col.col-wide
        p Lorem ipsum 