.container
      .wrapper
       .section-title--centered
        h2 About
        h3 Lorem ipsum dolodr sit amet, consectetur adipiscing elit
       .col.col-side
        .section-title
         h2 Tom w.
         h4.right Dev.
        p.right Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit
       .col.col-side.bgimage
        img(src="../images/dev-picture.png")
       .col.col-side
        p Lorem ipsum dolor
        span(class="glyphicon glyphicon-align-left")
