.container
      .wrapper
       .col.col-sidetwo
        p Lorem ipsum 
       .col.col-side
        p qkdksj
       .col.col-wide
        p Lorem ipsum 
       .col.col-side
        p Lorem ipsum 
       .col.col-sidetwo
        p Lorem ipsum 
       .col.col-wide
        p Lorem ipsum 