.container
     header.col-full
      .wrapper 
       h1 lorem ipsum Blou blou
       h2 ecv css course
    .container
      .wrapper
       .section-title--centered
        h1 About
        h2 Lorem ipsum dolodr sit amet, consectetur adipiscing elit
       .col.col-side
        .section-title
         h1 Tom w.
         h4.right Dev.
        p.right Lorem ipsum dolor sit amet, consectetur adipiscing elitLorem ipsum dolor sit amet, consectetur adipiscing elit
       .col.col-side.bgimage
        img(src="../images/dev-picture.png")
       .col.col-side
        p qkdksj