extends layout_exercice

block css
	link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet')
	link(href='/css/main.css', rel='stylesheet')

block content
	.bem
		.bem__box regular
		.bem__box.bem__box--state-success successs
		.bem__box.bem__box--state-danger danger